/* background-color: #81B29A; */
/* background-color: #90708C; */
/* background-color: #40798C; */
/* F2CC8F */

body .main {
  font-family: 'Lato', Arial, sans-serif;
  font-style: light;
}

.landingpage {
  position: static;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-color: #FB887C;
}

.developerpage {
  position: static;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-color: #FB887C;
}

.infopage {
  position: static;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-color: #FB887C;
}

.infopage #infocontent {
  position: absolute;
  left: 50%;
  top: 225%;
}

.title {
  color: #3D405B;
  /* color: #031927; */
  font-size: 3em;
  font-weight: 300;

  line-height: 1.6;
  letter-spacing: 0.16em;
}

.topnav {
    overflow: hidden;
    background-color: #284C60;
    /*background-color: transparent;*/
    /* opacity: 0.85; */
    background: transparent;
    border-color: transparent;
    position: fixed;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    /*opacity: 1.0;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    resize:  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.videocontainer {
    /* float: left; */
    background-image: url("/iPhoneTemplate.jpg");
    background-repeat:no-repeat;
    background-size: 700px 700px;
    /*no-repeat top left transparent;*/
    /* background-color: #E0E0E0; */
    width: 700px; /* Adjust TV image width */
    height: 700px; /* Adjust TV image height */

    /* position: relative; */
    top: 50%;
    transform: translateY(-50%);

    overflow: hidden;
    position: fixed;
}

.videocontainer video {
    /* position: absolute; */
    top: 114px; /* Adjust top position*/
    left: 119px; /* Adjust left position*/

    /* top: 50%; */
    /* transform: translateY(-50%); */

    overflow: hidden;
    position: fixed;
}

.formdiv {
  line-height: 3.0;
}

.signup {
  /*background-color: #E07D78;*/
  border: 5px solid red;
  border-width: 0 0 2px 0;
  border-color: #81B29A;
  position: relative;
  padding-bottom: 10px;
}

#signupbutton {
  display: none;
}

.signupline {
  font-size: 1.5em;
  font-weight: 300;
  color: #E0E0E0;
}

form input {
  background: rgba(251,136,124,.3);
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #3D405B;
}

.button-style {
    border: none; /*1px solid #ccc;*/
    /*display: inline-block;*/
    /*padding: 6px 12px;*/
    cursor: pointer;
}

#signupCTA {
  font-weight: 300;
  line-height: 2.0;
  position: relative;
  margin-top: 40px;
}





/* end */
