<!DOCTYPE html>
<html>

  <head>
    <title>Atlas Reality</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />

  </head>

  <body class="main">

    <div class="topnav">
      <a class="topnavgeneral" href="/">Atlas</a>
      <a class="topnavgeneral" href="">Contact</a>
      <a class="topnavgeneral" href="">FAQ</a>
      <a class="loginNAVbutton" href="">Log In</a>
      <a class="signupNAVbutton" href="">Sign Up</a>
    </div>

    <div class="videocontainer">
      <video width="460" height="460" autoplay loop muted>
        <source src="clip.MOV" type="video/mp4" />
      </video>
    </div>

    <section>
      <div class="infopage">
        <a name='contact'></a>
        <div id="infocontent">
          <h2 class="title"> Atlas Reality </h2>
          <div class="formdiv">
            <form>
              <input type="text" name="username" placeholder="Name" size="46"><br>
              <input type="text" name="email" placeholder="Email" size="46"><br>
              <input type="password" name="password" placeholder="Password" size="46"><br>

              <div class="signupline">
                <label for="signupbutton" class="button-style">
                    <p id="signupCTA"> <span class="signup">Join now</span> to learn how we make AR distribution easy</p>
                </label>
                <button type="submit" onclick="" id="signupbutton"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
