
<!DOCTYPE html>
<html>

  <head>
    <title>Atlas Reality</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.atlasreality.xyz/style.css"/>
  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar">
      <ul class="ulnavbar">
        <!-- <li><a onclick="location.href='https://www.atlasreality.xyz/';" class="generalnav">Atlas</a></li> -->
        <!-- <li><a class="generalnav">Contact</a></li> -->
        <!-- <li><a class="generalnav">FAQ</a></li> -->
        <li><a href="https://www.atlasreality.xyz/signup" class="signupnav">{{signUpButtonText}}</a></li>
        <li><a class="loginnav" id="menuButton">Menu</a></li>
      </ul>
    </div>

    <div>
      <h2>Contact<h2>
    </div>

  </body>
</html>
