
<!DOCTYPE html>
<html>

  <head>
    <title>Atlas Reality</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.atlasreality.xyz/style.css"/>
    <script>
        window.onclick = function(event) {
          if (!event.target.matches('#menuButton')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('dropdownshow')) {
                openDropdown.classList.remove('dropdownshow');
              }
            }

            var dropdowns = document.getElementsByClassName("content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('maincontentshow')) {
                openDropdown.classList.remove('maincontentshow');
              }
            }
          }
        }
    </script>
  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar">
      <ul class="ulnavbar">
        <!-- <li><a onclick="location.href='https://www.atlasreality.xyz/';" class="generalnav">Atlas</a></li> -->
        <!-- <li><a class="generalnav">Contact</a></li> -->
        <!-- <li><a class="generalnav">FAQ</a></li> -->
        <!-- <li><a href="https://www.atlasreality.xyz/signup" class="signupnav">{{signUpButtonText}}</a></li> -->
        <li><a class="signupnav " id="menuButton">Menu</a></li>

      </ul>
    </div>

    <!-- Video -->
    <div class="videocontainer">
      <video width="460" height="460" autoplay loop muted>
        <!-- <source src="https://www.atlasreality.xyz/atlas-06.mov" type="video/mp4" /> -->
        <source src="https://www.atlasreality.xyz/mosaic02.mov" type="video/mp4" />
      </video>
    </div>

    <!-- Content -->
    <!-- <div class="content"> -->
    <div id="mainContent" class="content">
      <h2>Atlas Reality</h2>
      <h1>Where the web meets the world.</h1>
      <!-- <form action="https://jordancampbell.us17.list-manage.com/subscribe/post?u=11b73d97a34e16eb569f5c30d&amp;id=6f0b444e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
          <!-- <div class="indexsignup"> -->
            <!-- <input type="email" name="email" placeholder="Email" size="40"><br> -->
          <!-- </div> -->
          <!-- <div id="mce-responses" class="clear"> -->
          		<!-- <div class="response" id="mce-error-response" style="display:none"></div> -->
          		<!-- <div class="response" id="mce-success-response" style="display:none"></div> -->
        	<!--</div> -->   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11b73d97a34e16eb569f5c30d_6f0b444e75" tabindex="-1" value=""></div> -->
        <!-- </form> -->
        <div class="signupline indexsignup">
          <label for="signupbutton" class="button-style">
              <p id="signupCTA" href="https://jordancampbell.us17.list-manage.com/subscribe/post?u=11b73d97a34e16eb569f5c30d&amp;id=6f0b444e75"> <span class="signup">Sign up</span> to learn more.</p>
          </label>
          <button type="" onclick="" id="signupbutton"></button>
        </div>
    </div>

    <div id="indexdropdownmenu" class="dropdown-content">
        <a href="https://www.atlasreality.xyz/about" class="dropdownh2">About</a>
        <a href="https://www.atlasreality.xyz/contact" class="dropdownh2">Contact</a>
        <!-- <a href="https://www.atlasreality.xyz/faq" class="dropdownh2">FAQ</a> -->
    </div>

    <script>
        var menuButton = document.getElementById('menuButton');
        menuButton.addEventListener("click", function() {
          document.getElementById("indexdropdownmenu").classList.toggle("dropdownshow");
          document.getElementById("mainContent").classList.toggle("maincontentshow");
        });
    </script>

  </body>
</html>
