
<!DOCTYPE html>
<html>

  <head>
    <title>Atlas Reality</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar">
      <ul>
        <!-- <li><a class="generalnav">Atlas</a></li> -->
        <!-- <li><a class="generalnav">Contact</a></li> -->
        <!-- <li><a class="generalnav">FAQ</a></li> -->
        <li><a href="https://www.atlasreality.xyz/signup" class="signupnav">Sign Up</a></li>
        <li><a class="loginnav">Menu</a></li>

      </ul>
    </div>

    <!-- Video -->
    <div class="videocontainer">
      <!-- <video width="460" height="460" autoplay loop muted> -->
        <!-- <source src="clip.MOV" type="video/mp4" /> -->
      <!-- </video> -->
    </div>

    <!-- Content -->
    <div class="content">
      <h2>Atlas Reality</h2>
      <h1>AR content distribution for native iOS apps.</h1>
      <div class="signupline">
        <label for="signupbutton" class="button-style">
            <p id="signupCTA"> <span class="signup">Sign up</span> and make your app discoverable</p>
        </label>
        <button type="submit" onclick="location.href='https://www.atlasreality.xyz/signup';" id="signupbutton"></button>
      </div>
    </div>

  </body>
</html>
